# Core ML libraries
tf-keras
torch
numpy>=1.24.0
onnxruntime>=1.15.1
opencv-python>=3.4.4

# Face recognition
insightface==0.7.3
retina-face==0.0.17

# API
fastapi
pydantic
uvicorn[standard]
python-multipart
